@model LoginViewModel
@using static ASI.Basecode.Resources.Views.Screen
@section styles {
    <link rel="stylesheet" href="~/css/login.css" />
}
@{
    ViewBag.LoginView = true;
    ViewData["Title"] = "Login Page";
}
<div>
    @Html.AntiForgeryToken()
</div>
<div class="bg-image">
    <div class="login-form">
        <div class="login-form-container">
            <div class="logo-container">
                <img src="~/img/logo2.svg" style="width: 93px; color: 65558F; " alt="logo">
            </div>
            <h1>Account Login</h1>
            <form method="post" action="/Account/Login" id="loginForm">
                <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example11">@UserId</label>
                    <input type="text" id="form2Example11" class="form-control"
                           asp-for="UserId" placeholder="Enter email" style="border-radius: 20px; border-color: #BFA6D0;" />
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example22">@Password</label>
                    <input type="password" id="form2Example22" class="form-control"
                           asp-for="Password" placeholder="Enter password" style="border-radius: 20px; border-color: #BFA6D0;" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="login-container">
                    <div class="forgot-password-container">
                        <a class="text-muted" href="#!" style="color: white;">@ForgotPass</a>
                    </div>
                    <div class="login-button-container">
                        <button class="btn btn-custom login-btn" type="submit" >
                            @Login
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script>
        // Check for error message and display Toastr notification
        var errorMessage = '@TempData["ErrorMessage"]';
        if (errorMessage) {
            toastr.error(errorMessage);
        }
    </script>
}
